@charset "UTF-8";

header {
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #70bf42;
    margin-bottom: 5px;
}

.userInfoDiv {
	text-align: right;
	font-size: 19px;
	margin: auto 0;
}

.logoDiv {
	width: 100px;
	margin: 5px;
}

.logoDiv > img {
	width: 100%;
}

.infoUl {
	margin: auto 0;
}

.infoUl a {
	text-decoration: none;
    color: black;
}

#filterDiv {
	display: flex;
	justify-content: space-between;
}